*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
}

body {
  width: 100%;
  display: flex;
  flex-flow: column;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  justify-content: center;
  line-height: 1.5;
  background-color: #ffffff;
  align-items: center;
}

header {
  display: flex;
  width: 100%;
  background-color: #1F79F9;
  justify-content: center;
  align-items: center;
  height: 10vh;
  z-index: 100;
}

nav {
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #1F79F9;
  justify-content: center;
  align-items: center;
  height: 10vh;
  position: fixed;

}

img {
  display: block;
  width: 100%;
  display: block;
  z-index: 200;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #1F79F9;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 10vh;
}

.nav1 {
  width: 10%;
  margin: 30px;
  color: #ffffff;
  float: left;
  font-size: 3.4em;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}

.nav2 {
  width: 80%;
  margin: 20px;
  color: #ffffff;
  float: center;
  font-size: 3.4em;
  align-self: center;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}

.nav3 {
  width: 10%;
  margin: 20px;
  color: #ffffff;
  float: center;
  font-size: 3.4em;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}

.favorites {
  display: flex;
  background-color: white;
  top: 60px;
  left: 0px;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2.25em;
  margin: 30px auto 10px auto;
  color: #757575;
  z-index: 10;
}

.favh2 {
  padding-left: 10px;
  padding-top: 5px;
}

div > i {
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.list {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  font-size: 1.5em;
  width: 75%;
}

span {
  display: inline-block;
}

h3 {
  font-weight: bold;
  font-size: 1.25em;
  margin: 10px 0;
}

h5 {
  font-size: 1em;
}

.chevron-right {
  width: 20px;
  align-self: center;
}

.items {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #C8C7CC;
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.bottom-nav {
  font-size: 3.4em;
}

.sub {
  font-size: .75em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Tablet screens */
@media screen and (max-width: 991px) {
  body {
    width: 90%;

  }

  nav, .nav1, .nav2, .nav3 {
    font-size: 1.5em;
  }


  .favorites {
    font-size: 1.5em;
    top: 60px;
    margin: 10px auto;
    padding: 10px;
  }
  .list {
    font-size: 1.25em;
    width: 90%;
  }
  .bottom-nav {
    font-size: 2.25em;
  }
}

/* Smartphone screens */
@media screen and (max-width: 575px) {
  body {
    width: 90%;
  }
  nav, .nav1, .nav2, .nav3 {
    font-size: 1.25em;
  }
  .favorites {
    font-size: 1em;
    top: 60px;
    margin: 10px auto;
    padding: 10px;
  }
  div.list {
    font-size: 1em;
    width: 90%;
  }
  .bottom-nav {
    font-size: 1.25em;
  }
}
