*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: block;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #ffffff;
}

header {
  display: flex;
  width: 100%;
  background-color: #1F79F9;
  justify-content: center;
}

div.nav1 {
  width: 10%;
  margin: 30px;
  color: #ffffff;
  float: left;
  font-size: 3.4em;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}

div.nav2 {
  width: 80%;
  margin: 20px;
  color: #ffffff;
  float: center;
  font-size: 3.4em;
  align-self: center;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}

div.nav3 {
  width: 10%;
  margin: 20px;
  color: #ffffff;
  float: center;
  font-size: 3.4em;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}

div.favorites {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  font-size: 2.25em;
  margin: 30px auto;
  color: #757575;
}

div.list {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  font-size: 1.5em;
  width: 70%;
}

span {
  display: inline-block;
}

h3 {
  font-weight: bold;
  font-size: 1.25em;
  margin: 10px 0;
}

.chevron-right {
  width: 20px;
  align-self: center;
}

.items {
  display: flex;
  justify-content: space-between;
}


/* Tablet screens and larger */
@media screen and (min-width: 575px) {

}

/* Laptop screens and larger */
@media screen and (min-width: 991px) {

}
